@using WebGrease.Css.Extensions
@model IcbmikeBlag.Models.Post.PostModel

<article>
    <header>
        <h1 class="title">@Model.Title</h1><time class="date-posted">@Model.DatePosted.ToShortDateString() @Model.DatePosted.ToShortTimeString()</time>
    </header>

    <div class="post-content">
        @Html.Raw(Model.Content)
       
    </div>
    
    <footer>
        @foreach (var tag in Model.Tags)
        {
            @Html.ActionLink(tag, "TaggedWith", "Posts", new {tag = tag}, new{@class="tag"})
            ;
        }

        
        @Html.ActionLink("Comments", "Post", "Posts", new {id = Model.ID}, new{@class="comments-link"})
        
        @if (Model.ReplyModel != null)
        {
            @Html.Partial("_Reply", Model.ReplyModel)
        }

        @if (Model.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "CreateOrEditPost", "Admin", new {id = Model.ID}, new {@class = "edit-link"})
        }
    </footer>
</article>
