@model IcbmikeBlag.Models.Post.ReplyModel

<section class="reply-editor">
    @using (Html.BeginForm("Reply", "Posts", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.ReplyID)
        @Html.HiddenFor(model => model.ReplyingToPost)
        @Html.HiddenFor(model => model.PostID)

        <header>
            @Html.TextBoxFor(model => model.PosterName, new{placeholder = "Anonymous"})
        </header>

        @Html.TextAreaFor(model => model.ReplyContent)
        
        <button type="submit">Reply</button>
    }
</section>