@using WebGrease.Css.Extensions
@model IcbmikeBlag.Models.Post.PostModel

<article class="blog-post">
    <header>
        <span class="title">@Model.Title</span><span class="date-posted">@Model.DatePosted.ToShortDateString() @Model.DatePosted.ToShortTimeString()</span>
    </header>
    

    <div class="content">
        @foreach(var paragraph in Model.Content.Split(new []{ Environment.NewLine}, StringSplitOptions.RemoveEmptyEntries))
    {
        <p>
            @paragraph
        </p>
    }
       
    </div>
    
    <footer>
        @foreach (var tag in Model.Tags)
        {
            @Html.ActionLink(tag, "TaggedWith", "Post", new {tag = tag}, new{@class="tag"});
        }
        
        @Html.ActionLink("Comments", "Post", "Post", new {id = Model.ID}, new{@class="comments-link"})

        @if (Model.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "CreateOrEditPost", "Admin", new {id = Model.ID}, new {@class = "edit-link"})
        }
    </footer>
</article>
