@model IcbmikeBlag.Models.BlagModelBase
@using System.Configuration
@using System.Web.Optimization
@using IcbmikeBlag.Application.Migrations

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/styles/light")  

    </head>
<body>
        @Html.Partial("_Navbar")

    <main id="content">
        
        @RenderBody()
    
        
            @Html.Partial("_Footer")
        
    </main>
    
    
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/main")
</body>
</html>
