@model IcbmikeBlag.Models.BlagModelBase
@using System.Configuration
@using System.Web.Optimization
@using IcbmikeBlag.Application.Migrations

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="//fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
    
    @if (ConfigurationManager.AppSettings["SiteStyle"] == "Light")
    {
        @Styles.Render("~/styles/light")
    }
    else
    {
        @Styles.Render("~/styles/dark")
    }
        

    </
        head>
<body>

    <main id="content">
        @Html.Partial("_Navbar")
        
        @RenderBody()
    
        
            @Html.Partial("_Footer")
        
    </main>
    
    
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/main")
</body>
</html>
